/* CSS declarations go here */

#inputForm {

}

#dashboard {

}

#calendar {

}

.commitment.selected {
    /*background-color: yellow;*/
}

#signin-ui {
    text-align: right;
    margin: 0 0 20px 0;
}

input[type="number"] {
    width: 2.5em;
}

h1 {
    font-size: 1.5em;
}

#loginPage {
}

#userNotLoggedIn{
    margin:0px 3px 0px 3px;
}

#welcomeTitle{
    font-size: 80px;
    text-align:center;
    padding:100px 0px 0px 0px;
}

#welcomeText{
    margin:3px 3px 3px 3px;
    padding:0px 0px 0px 0px;
}

#webSlogan{
    text-align:center;
    font-weight: bold;<
}

#featureList{
}

.btn-xlarge {
    font-size: 300%;
   line-height: 670px;
   background-color: #f5f5f5;
   border: 1px solid #e3e3e3;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
}